html {
  font-size: 10px;
  font-family: 'Josefin Sans', sans-serif;
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

/*sets dimension of image on coverpage*/
img {
  height:400px;
  width: 1200px;
}

h1 {
  font-size: 25px;
  text-align: left;
}

h2 {
  font-size: 30px;
  text-align: left;
}

h3 {
  font-size: 30px;
  text-align: center;
}

h4 {
  font-size: 15px;
  text-align: left;
  float: left;
}

button {
  margin: 10px;
  font-size: 10px;
}

/*.coverpage {
  margin-top:    10px;
  padding:       10px;
  height:        300px;*/
  /*background-image: image-url("images/stars_long_banner.jpg");
  background-size:  cover;*/
/*}*/

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
  text-align: left;
  width: 600px;
}

/*body {
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Yantramanav', sans-serif;
  color: red;
  width: 600px;
  margin: 0 auto;
  background-color: #FF9500;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  text-shadow: 3px 3px 1px black;
}*/
